%h3= @oven.name

.cookie-info
  %b Curently in oven:

  -# TODO: localize this view for better pluralization
  - if @oven.cookies.any?
    %br
    %b #{@oven.cookies.count} #{@oven.cookies.first.fillings || "no fillings"} cookie(s)

    - if @oven.cookies.all? { |cookie| cookie.ready? } # this could be moved to the model
      \- and they're ready!
      = button_to "Retrieve Cookie(s)", empty_oven_path, class: 'button tiny'
  - else
    Nothing

%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'
